{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <div class="jumbotron">
            <h1>History</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Stocks</th>
                    <th>Buy/Sell</th>
                    <th>Price</th>
                    <th>Shares</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for line in Summaries %}
                    <tr>
                        <td>{{ line.symbol }}</td>
                        <td>{{ line.tran_type }}</td>
                        <td>{{ line.price|usd }}</td>
                        <td>{{ line.shares }}</td>
                        <td>{{ line.dt }}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
{% endblock %}
