{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                <option disabled selected value="">Stocks</option>
                {% for stock in stocks %}
                    <option value="{{ stock }}">{{ stock }}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
